*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
header{
  width: 100%;
  height: 600px;
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 10vw;
}
nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
nav h1{
  color: salmon;
  font-size: 40px;
  text-shadow: 5px 3px 2px rgb(59, 59, 59);
}
.button-style{
  border: none;
  background-color: tomato;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: .20s;
  box-shadow: 5px 4px 0px black;

}
.button-style:hover{
  background-color: white;
  color: black;
  box-shadow: 2px 3px 2px black;
}

.banner{
  width: 100%;
}
.banner-child{
  width: 80%;
  max-width: 900px;
  margin: 150px auto;
  text-align: center;
}
.banner-child h1{
  font-family: sans-serif;
  color: rgb(7, 7, 58);
  font-size: 4vw;
  margin-bottom:50px;
  font-weight: 600;
}
.banner-child button{
  padding: 15px 40px;
  font-size: 19px;
  border-radius: 10px;
}

.action-section{
  width: 100%;
  padding: 0 10vw;
  margin:130px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 220px;
}
.text h1{
  color: rgb(7, 7, 58);
  font-size: 3vw;
  font-family:sans-serif;
  margin-bottom: 10px;
}
.text p{
  color: gray;
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
.text button{
  height: 50px;
  box-shadow: 5px 4px 0px black;
}
.action-section img{
  border-radius: 50px;
  padding: 10px;
}
.product-user{
  width: 100%;
  margin-bottom: 80px;
}
.inner-div{
  width: 1050px;
  height: 300px;
  background-color: #4d47ff46;
  margin:80px auto;
  border-radius: 30px;
}
.user-detail{
  padding: 50px 140px;
}
.center-align{
  text-align: center;
}
.user-detail-h1{
  margin-bottom: 30px;
  color: rgb(7, 7, 58);
  font-size: 2.5vw;
  font-family:sans-serif;
}
.detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.border-radius{
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(171, 218, 210, 0.178);
}
.detail h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 70px;
  color: rgb(75, 75, 170);
}
.detail p{
  text-align: center;
  color: rgba(7, 7, 58, 0.781);
  font-family: verdana;
}
.user-feedback{
  width: 1050px;
  height: 350px;
  margin: 150px auto;
}
.user-feedback h1{
  margin-bottom: 50px;
  color: rgb(7, 7, 58);
  font-size: 3vw;
  font-family:sans-serif;
}
.comment-container{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.comment{
  padding: 10px;
}
.comment h3{
  font-family: serif;
  margin-bottom: 10px;
}
.comment h4{
  color: rgb(59, 59, 59);
  font-family: sans-serif;
}

.comment-text{
  color: rgba(0, 0, 0, 0.918);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}
.image-div{
  margin-bottom: 20px;
}
.profile{
  width: 40px;
  height: 40px;
  border-radius:20px;
}
.reviewer-name{
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviewer-name p{
  color: rgb(68, 68, 68);
}
